.App{
  margin: 5px;
}
.header{
  display: flex;
  justify-content: space-between;
  border: solid 1px black;
}
.logo{
  width: 200px;
}
.nav-item{
  padding: 20px 70px;
  font-size: 1.5em;
  font-weight: bold;
}
.nav-item > ul{
  display: flex;
  list-style-type: none;
}
.nav-item > ul > li{
  margin: 20px;
}
.restaurant-card{
  height: 350px;
  width: 250px;
  background-color: #BCD2E8;
  margin: 30px;
  padding: 10px;
  
}
.restaurant-card:hover{
  border: 1px solid brown;
  cursor: pointer;
}
.restaurant-logo{
  height: 50%;
  width: 100%;
}
.restaurant-container{
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
}
.footer{
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
  background-color: rgb(167, 199, 227);
}
.shimmer-container{
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
}
.shimmer-card{
  height: 350px;
  width: 250px;
  background-color: #BCD2E8;
  margin: 30px;
  padding: 10px;
}