.App{
  margin: 5px;
}
.header{
  display: flex;
  justify-content: space-between;
  border: solid 1px black;
}
.logo{
  width: 200px;
}
.nav-item{
  padding: 20px 70px;
  font-size: 1.5em;
  font-weight: bold;
}
.nav-item > ul{
  display: flex;
  list-style-type: none;
}
.nav-item > ul > li{
  margin: 20px;
}
.restaurant-card{
  width: 250px;
  background-color: #D5F3FE;
  margin: 30px;
  padding: 10px;
  border-radius: 0.6em;
}
.restaurant-card:hover{
  border: 1px solid brown;
  cursor: pointer;
}
.restaurant-logo{
  height: 50%;
  width: 100%;
}
.restaurant-container{
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
}
.footer{
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
  background-color: rgb(167, 199, 227);
}
.shimmer-container{
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
}
.shimmer-card{
  height: 350px;
  width: 230px;
  background-color: #D5F3FE;
  margin: 30px;
  padding: 10px;
  border-radius: 0.6em;
}

.filter-btn{
  margin-right: 50px;
  height: 30px;
  background-color: #72A0C1;
  border-radius: 0.5em;
  border: rgb(46, 25, 29) solid 2px;
  
}
.filter-btn:hover{
  border: 2px solid brown;
  cursor: pointer;
}
.login-button{
  height: 2.2em;
  width: 5.2em;
  margin-top: 20px;
  margin-left: 20px;
  background-color: #72A0C1;
  border-radius: 0.5em;
}
.login-button:hover{
  border: 2px solid brown;
  cursor: pointer;
}
.actions-container{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.search-container{
  margin-left: 20px;;
}
.search-button{
  height: 2.2em;
  width: 5.2em;
  margin-left: 20px;
  background-color: #72A0C1;
  border-radius: 0.5em;
}
.search-button:hover{
  border: 2px solid brown;
  cursor: pointer;
}
.search-text{
  height: 1.8em  ;
  min-width: 24em;
  border-radius: 0.5em;
}
.restaurant-menu{
  display: flex;
  flex-direction: column;
  margin: 5% 35%;
  height: 30%;
  width: 30%;
  background-color: #D5F3FE;
  border: 2px solid brown;
}
.restaurant-menu :hover{
  
  cursor: pointer;
}
.restaurant-details{
  margin: 10px;
}
.restaurant-logo{
  width: 98%;
  padding: 5px;
  border-radius: 2em;
}
.user-card{
  padding: 20px;
  border: black 2px solid;
  width: 400px;
}
.user-logo{
  width: 100%;
}